*.sln
*.csproj
*.pfx*
/.vs/
/obj/
/Library/
/Packages/
/Temp/
/UWP/
/QCAR/
/Assets/External/HoloToolkit/
/Assets/External/HoloToolkit.meta
/Assets/External/JSONObject.meta
/Assets/External/Triangle.NET-for-UWP.meta
/Assets/External.meta